<!DOCTYPE.html>
<html>
<head>
    <title>sign in</title>
    <link rel="stylesheet" href="/css/style1.css">
    <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-auth.js"></script>
    
</head>
<body>
    
    <div class="container">
        
        <h1>Sign In</h1>
        <form>
            <input type="email" class="input-box" placeholder="Enter your email" id="email">
            <input type="password" class="input-box" placeholder="password" id="password">
        
            <button id="signIn">submit</button>
        </form>

            <a href="/register">
                <button type="submit">Sign up</button>
                </a>
           
     </div>
     <script src="/signIn.js"> </script>
     <script src="/firebase.js"></script>
</body>
</html>
